body{
    background-color: #8cb576;
    background-image: url("https://static.vecteezy.com/system/resources/previews/011/589/026/original/aesthetic-sage-green-background-free-vector.jpg");
    min-height: 600px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
   
    
}
/* Style header with green background and padding */
header{
    background-color: #8cb576;
    overflow: hidden;
    padding: 20px 10px;
    font-family: 'Raleway', sans-serif;
    width: 100%;
    top: 0px;
    z-index: 10;
}

.logo{
    letter-spacing: 10px;
    text-transform: uppercase;
}

/* style header links */
header a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 12px;
    text-decoration: none;
    font-size: 18px;
    line-height: 25px;
    border-radius: 4px;


}

/* fixed header and footer */
header, footer{
    position: fixed;
}

/* styling logo link */
header a.logo{
    font-size: 25px;
    font-weight: bold;
}

/*  change background color when mouse hover over */
header a:hover{
    background-color: #ddd;
    color: black;
}
/* style active/current link */
header a.active{
    color:  #8cb576;
    /* background-color: dodgerblue; */
}


/* Float links to the right */
.nav-links{
    float: right;  
    color: white;
}

/* add media queries when screen decreases and stack links on top of each other */
@media screen and (max-width: 500px)
{
    header a{
        float: none;
        display: block;
        text-align: left;
    }

    .nav-links{
        float: none;
    }
}

* {
    margin:  auto;
    padding: 0px;
    box-sizing: border-box;
}

.introduction{
    box-sizing: border-box;
    padding: 40px;
    text-align: center;
    width: 70%;
    position: relative;
    top: 200px;
    margin: auto;
    font-family: 'Raleway', sans-serif;

}

.contact{

    display: flex;
    justify-content: center;
    
}

.column{
    flex: 50%;
    height: 1000px;
    font-family: 'Raleway', sans-serif;
}

.contact_statement{
    height: 100%;
    width: 100%;
    padding: 50px;

    /* background-color: #f2f2f2; */
    text-align: center;

}

.info_form{
    padding: 100px;
    padding-top: 115px;
    height: 550px;
    width: 100%;
    background-color: #8cb576;
    border-radius: 15%;  
    text-align: center;

}


h3{
    text-align: center;

}

.input-form{
    position: relative;
    height: 37px;

}

input[type=text]{
    width: 100%;
    padding:15px;
    margin: 5px 0 22px 0;
    border:none;
    background: none;
    outline: none;
    border-bottom: 1px solid white;
    font-family: 'Raleway', sans-serif;
}

input[type=text]:focus{
    background-color: #f0eeee;
    outline: none;
}


.enter-btn{
    display: inline-block;
    width: 100%;
    height: 45px;
    background-color: #151111;
    color: #c8f3a7;
    border: none;
    cursor: pointer;
    border-radius: 0.8rem;
    /* margin-bottom: 2rem; */

}

.enter-btn:hover{
    background-color: #185836;

}

textarea{
    width:100%;
    height: 150px;
    padding: 12px 20px;
    box-sizing: border-box;
    border: 2px solid #ccc;
    border-radius: 20px;
    font-size: 14px;
    resize: none;
}